
<ion-view view-title="Main">

<!-- IMPLEMENT FOR "active" "local" "matched" "all"
   <div class="tabs-striped tabs-color-royal">
    <ul class="tabs">
        <li ng-class="{active:isSelected(1)}" class="tab-item">
            <a ng-click="select(1)">The Menu</a></li>
        <li ng-class="{active:isSelected(2)}" class="tab-item">
            <a ng-click="select(2)">Appetizers</a></li>
        <li ng-class="{active:isSelected(3)}" class="tab-item">
            <a ng-click="select(3)">Mains</a></li>
        <li ng-class="{active:isSelected(4)}" class="tab-item">
            <a  ng-click="select(4)">Desserts</a></li>
    </ul>
  </div>
-->

  <ion-content>
    <ion-list>
      <ion-item ng-repeat="match in matchesObj" href="#/app/chat/{{chat.id}}" class="item-thumbnail-left">
        <img ng-src="{{match.image}}">
        <h2>{{match.name}}
         <span style="font-size:75%">{{match.name}}</span>
        <span class="badge badge-assertive">local</span></h2>
        <p>{{match.name}}</p>
        <ion-option-button class="button-assertive icon ion-plus-circled"
            ng-click="">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>